<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Our Blood Donation Campaign!</h1>

    </header>

    <main>
        <p>Help save lives by donating blood. Your contribution can make a difference.</p>
        <a href="donation_form">
            <button>Donate Now</button>
        </a>
        <a href="search">
            <button>View Donors</button>
        </a>
        <a href="logout"><button>Log Out</button></a>
    </main>
    <div class="news-box">
        <div class="news-title">
           Upcoming Donation Camp Updates
        </div>
        <div class="news-content">
         <marquee > <a href = "/donation_form">Blood Donation Camp will be held on 15th Aug 2023 at V.Pawar Hospital Nashik </a></marquee>
        </div>
        <div class="news-content">
          <marquee > <a href = "/donation_form">Blood Donation Camp will be held on 20th Aug 2023 at LokManya Hospital Nashik </a></marquee>
         </div>
         <div class="news-content">
          <marquee > <a href = "/donation_form">Blood Donation Camp will be held on 22th Aug 2023 at Apollo Hospital Nashik </a></marquee>
         </div>
         <div class="news-content">
          <marquee > <a href = "/donation_form">Blood Donation Camp will be held on 25th Aug 2023 at Government Hospital Nashik </a></marquee>
         </div>
        <div class="news-date">
          Published on August 6, 2023
        </div>
      </div>

    <footer>
        <p>&copy; 2023 Blood Donation Campaign. All rights reserved.</p>
    </footer>
</body>
</html>